.home-container {
min-height: 78vh;
  /* margin-top: 100px; */
  /* padding-top: 250px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-top: 40px; */
  background: fixed;
  background: rgb(123, 184, 177);
  background: linear-gradient(
    270deg,
    rgba(123, 184, 177, 1) 1%,
    rgba(247, 247, 239, 1) 100%
  
  );
  width: 100%;
}

.home-wrapper {
  /* position: fixed; */
  padding: 0 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 340px;
}



.home-image {
  flex: 2 right;
}
.dogs {
  background: transparent;
  height: 480px;
  width: auto;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 100px;
  /* padding-bottom: 102px; */
}

.button {
  text-align: center;
  /* background-color: rgb(205, 218, 205); */

  height: 13vh;
  /* padding-top: 20px; */
  padding: 10px;
}

.enter  {
  height: 40px;
  width: 220px;
  font-size: 30px;
  border-radius: 30px;
  background-color: white;
  border: none;
  transition: all 0.3s ease;
}
.enter:hover {
  background-color: #9ccac5;
  color: white;
  border: 1px solid lightgrey;
}
.login {
  color: #5aa69d;
  text-decoration: none;
  font-variant: small-caps;
}
 
.login:hover {
  color: white;
}
p {
  text-decoration: none;
}

.details {
  flex: 1;
  font-size: 60px;
  text-align: start !important;
  color: #5aa69d;
  font-variant: small-caps;
  padding-left: 100px;
}
.welcome {
  font-style: italic;
  
}

.wiggle {
  font-weight: 700;

}




@media screen and (max-width: 768px) {
  .home-container {
    margin-top: 50px;
    padding-top: 70px;

  }

  .home-wrapper {
    flex-direction: column;
    height: auto;
    align-items: normal;
  }

  .home-image {
    flex: 1;
    width: 100%;
    text-align: end;
    padding-top: 10px;
  }

  .dogs {
    height: 250px;
    margin: 0;
  }

  .details {
    padding-left: 0;
    font-size: 25px;
    text-align: start;
  }
}


