.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  /* align-items: center;
  height: 70px; */
  /* justify-content: space-between; */
  /* width: 100%;
  display: -webkit-inline-box; */
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0;
  height: 135px;
}
nav.navbar {
  top: 0;
  z-index: 1;
  transition: 0.32s ease-in-out;
}

.navbar.container-md {
  width: 100%;
}
.navbar-nav {
  padding: 70px 0px 0px 110px;
}
.me-auto{
  background-color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 10px 0px;
}


nav.navbar {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: 0.32s ease-in-out;
  background-color: white;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #d6e6de;
}

nav.navbar a.navbar-brand {
  max-width: 100%;
  height: auto;
  /* padding-top: 22px; */
  padding: 0;
    margin: 0;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.logo {
  height: 130px;
  width: auto;
  padding: 0px 50px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 700;
  color: #253649 !important;
  letter-spacing: 0.8px;
  padding: 0 30px;
  font-size: 20px;
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover {
  color: black;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

/* toggle */

.navbar-toggler.collapsed{
  position:fixed;
  margin-top: 100px;
  top:0;
  left:0;
  margin-left: 10px;
}
.navbar-toggler.collapsed[aria-expanded="true"]{
  position:fixed;
  margin-top: 130px;
  top:0;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid black;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid black;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: yellow;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: black;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.navbar-collapse {
  width: max-content;
}

.navbar-link .account-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 18px;
}

.navbar-link .account-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-link .account-info span {
  font-size: 10px;
  margin-right: 5px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-collapse {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-link .account-info img {
    height: 50px;
    width: 50px;
    margin-right: 0;
  }
  .logo {
    padding: 0px;
    height: 110px;
  }

nav.navbar .navbar-nav .nav-link.navbar-link {
font-size: 15px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: center !important;
  align-content: baseline;
}
.navbar-toggler.collapsed{
  margin-bottom: 5px;
}
.navbar-link .account-info {
  padding: 10px 10px 0px 0px;
}
}
