.dog {
  text-align: center;
}

.dog p {
  margin-bottom: 10px;
  font-weight: 700;
  color: #253649;
}

.dog-img-sm {
  height: 200px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .dog-img-sm {
    height: 100px;
    width: auto;
  }

}