.dogform-container {
  height: 93vh;
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  /* padding: 30px 30px 30px 0px; */
  background: linear-gradient(
    270deg,
    rgba(123, 184, 177, 1) 1%,
    rgba(247, 247, 239, 1) 100%
  );
}

.dogimg1-card {
  flex: 1;
  flex: 0 0 33%;
}
.dogimg1,
.dogimg2 {
  height: 700px;
  width: auto;
}
.dogimg2-card {
  flex: 3;
  flex: 0 0 33%;

  text-align: right;
}
.dogform-card {
  flex: 2;
  flex: 0 0 33%;
  background-color: #fff;
  padding: 20px 60px;
  border-radius: 10px;
  /* margin: 150px; */
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  align-items: center;
  box-shadow: -7px 7px 100px #e6e6e6, 7px -7px 100px #ffffff;
}
input {
  padding: 5px;
  width: 250px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.label {
  display: block;
}

.df-button {
  background-color: #9ccac5;
  margin-left: 33%;
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: -7px 7px 30px #9ccac5, 7px -7px 100px #ffffff;
  cursor: pointer;
}

.df-button:hover {
  background-color: white;
}
.df-button-info {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
}
.df-button-info:hover {
  color: #9ccac5;
}

.df-title {
  font-size: 20px;
}

@media (max-width: 768px) {
  .dogform-container {
    max-width: 770px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dogimg1,
  .dogimg2 {
    display: none;
  }
  .dogform-card {
    width: 80%;
    padding: 10px;
    margin: 0;
    font-size: 10px;
  }
  .df-title {
    font-size: 15px;
  }
  .df-button-info{
    font-size: 12px;
  }
  .df-button{
    width: 100px;
  }
}
@media (min-width: 780px) and (max-width: 1024px) {
.dogform-container{
  height: 92vh;
  width: 1070px;
  align-items: normal;
}
.dogform-card{
  height: 75%;
  margin-top: 70px;
  padding: 10px 30px ;
}
.dogimg1,
.dogimg2 {
height: 400px;
}
.df-form{
  font-size: 12px;
}
.df-title{
  font-size: 15px;
}
input#file{
  margin: 0px;
  padding:0px;
}
}
