.gw-form-container {
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(
      270deg,
      rgba(123, 184, 177, 1) 1%,
      rgba(247, 247, 239, 1) 100%
    );
  }
  
  /* .dog-card {
    flex: 1;
  } */
  .dog-image {
    height: 75%;
    width: 75%;
    padding-top: 20px;
  }
  .gw-form-card {
    flex: 1;
    flex: 0 0 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* margin: 0% 5%; */
    height: 80%;
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    align-items: center;
    box-shadow: -7px 7px 100px #e6e6e6, 7px -7px 100px #ffffff;
    justify-content: right;
  }
  .gw-form{
    width: 100%;
    font-size: 12px;
  }
  .gw-header{
    font-size: 20px;
  }
  .gw-image-card{
    flex:2;
    flex: 0 0 50%;
    text-align: center;
  }
  input {
    padding: 5px;
    width: 250px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .label {
    display: block;
  }
  
  .gw-button{
      background-color: #9ccac5;
      align-items: center;
      margin-top: 5px;
      width: 150px;
      padding: 10px;
      border-radius: 20px;
      box-shadow: -7px 7px 30px #9ccac5, 7px -7px 100px #ffffff;
      border: none;
      color: white;
      font-variant: small-caps;
      font-size: 12px;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      margin-left: 30%;
  }
  .gw-button:hover{
    background-color: white;
    color: #9ccac5;
  }

  @media (max-width: 768px) {
  .gw-form-container {
    padding: 0 5px;
      align-items: normal;
      padding-top: 55px;
      height: 92vh;
  }
  .gw-form-card {
    position: absolute;
      z-index: 2;
      margin: 0;
      font-size: 10px;
      padding: 10px;
      flex: 2;
      width:70%;
      opacity: 0.9;
      margin-top: 65px;
      height: 64%;
  }
  .gw-image-card{
    flex: 1;
      z-index: 1;
      position: absolute;
  }
  .dog-image {
    height: 90%;
      width: 90%;
      padding-top: 5px;
  }
  .gw-form{
    font-size: 10px;
  }
  .gw-header{
    font-size: 15px;
    padding-bottom: 0;
  }
  input{
    margin-bottom: 5px;
    padding: 0;
  }
  .gw-button{
    padding: 5px;
    width: 55%;
    margin-left: 23%;
  }
  }