.member-wrapper{
    /* display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;

    text-decoration: none; */
    position: relative;
    padding-top: 90%; /* for 4:3 aspect ratio */
    overflow: hidden;
    /* padding: 10px;
    height: auto;
    width: 200px; */
    /* border-radius: 10px; */
    /* background-color: rgba(123, 184, 177, 1) 1%,; */
    /* background: linear-gradient(
    270deg,
    rgba(123, 184, 177, 1) 1%,
    rgba(247, 247, 239, 1) 100% 
  );  */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

/* .member-image{
    height: auto;
    width: 100px;
    max-width: 100%; */

.member-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.member-wrapper p {
    padding-top: 10px;
}

.member-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}
