.members-list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
    padding: 100px;
    margin-left: 5%;
    margin-right: 5%;

}

@media (max-width: 760px) {
    .members-list-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; 
      padding: 0;
      padding-top: 60px;
      padding-bottom: 40px;
    }
  
    .member-image {
      width: 100%; 
      padding-left:0;
    }
  }

@media (min-width: 760px) and (max-width: 1026px) {
  .members-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 0;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}